MAKE/S3 Make.json
{
    "name": "S3 — Disparar Flow Adelanto",
    "flow": [
        {
            "id": 104,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2691150,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -187,
                    "y": 185
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "S3 — Disparar Flow Adelanto",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 100,
            "module": "scenario-service:NameExecution",
            "version": 2,
            "parameters": {},
            "mapper": {
                "executionName": "SCN=S3|FROM={{104.message.from}}|TS={{formatDate(now; \"x\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "executionName",
                        "type": "text",
                        "label": "Run name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 110,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 85069
            },
            "mapper": {
                "key": "{{104.message.button.payload}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": -148,
                    "y": -191
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "WA_Conversation_State"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Record ID",
                        "label": "Key",
                        "help": "Hubspot Object ID (Record ID)",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "firstname",
                        "label": "Firstname",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "city",
                        "label": "City",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "state",
                        "label": "State",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "colonias",
                        "label": "Colonias",
                        "help": "",
                        "type": "array",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": true,
                            "multiline": false
                        },
                        "required": false
                    },
                    {
                        "name": "hs_contact_id",
                        "label": "Hs contact ID",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "timestamp_template",
                        "label": "Timestamp template",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "producto",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": true,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 111,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "apiKey",
                "tlsType": "",
                "proxyKeychain": "",
                "apiKeyKeychain": 89299
            },
            "mapper": {
                "url": "https://graph.facebook.com/v20.0/1134020289783839/messages",
                "method": "post",
                "headers": [
                    {
                        "name": "AUTHORIZATION"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "dataStructure",
                "bodyDataStructure": 276973,
                "dataStructureBodyContent": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{104.from}}",
                    "type": "template",
                    "template": {
                        "name": "adelanto",
                        "language": {
                            "code": "es_MX"
                        },
                        "components": [
                            {
                                "type": "button",
                                "sub_type": "flow",
                                "index": "0",
                                "parameters": [
                                    {
                                        "type": "action",
                                        "action": {
                                            "flow_token": "{{uuid}}_26807425708853522",
                                            "flow_action_data": {
                                                "flow_id": "26807425708853522",
                                                "flow_action": "Contestar Cuestionario",
                                                "navigate_screen": "WELCOME"
                                            }
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                }
            },
            "metadata": {
                "designer": {
                    "x": 275,
                    "y": -345
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "API keyUse when the service requires an API key in the header or query parameters."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "apiKeyKeychain": {
                            "label": "My API Key Auth key 28/04"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "bodyDataStructure": {
                            "label": "JSON Template"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "template": {
                                    "nested": {
                                        "components": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "parameters": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    },
                    {
                        "name": "apiKeyKeychain",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "type": "collection",
                        "label": "Body content",
                        "spec": [
                            {
                                "name": "messaging_product",
                                "type": "text",
                                "label": "Messaging product"
                            },
                            {
                                "name": "recipient_type",
                                "type": "text",
                                "label": "Recipient type"
                            },
                            {
                                "name": "to",
                                "type": "text",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type",
                                "required": true
                            },
                            {
                                "name": "template",
                                "type": "collection",
                                "label": "Template",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "language",
                                        "type": "collection",
                                        "label": "Language",
                                        "spec": [
                                            {
                                                "name": "code",
                                                "type": "text",
                                                "label": "Code"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "components",
                                        "type": "array",
                                        "label": "Components",
                                        "spec": {
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "label": null,
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "sub_type",
                                                    "label": null,
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "index",
                                                    "label": null,
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "parameters",
                                                    "label": null,
                                                    "type": "array",
                                                    "spec": {
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "label": null,
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "action",
                                                                "label": null,
                                                                "type": "collection",
                                                                "spec": [
                                                                    {
                                                                        "name": "flow_token",
                                                                        "label": null,
                                                                        "type": "text"
                                                                    },
                                                                    {
                                                                        "name": "flow_action_data",
                                                                        "label": null,
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "flow_id",
                                                                                "label": null,
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "name": "flow_action",
                                                                                "label": null,
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "name": "navigate_screen",
                                                                                "label": null,
                                                                                "type": "text"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                }
                                            ],
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 112,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://whatsapp-flow-backend-production.up.railway.app/api/log-message",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": false,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "dataStructure",
                "bodyDataStructure": 276817,
                "dataStructureBodyContent": {
                    "phone": "{{104.from}}",
                    "lead_name": "{{110.firstname}}",
                    "direction": "out",
                    "content": "¡Excelente! 🙌🏻\r\n\r\nPara poder ayudarte mejor y revisar tu caso, ¿me apoyas llenando este breve formulario? 📝\r\n\r\nNos tomará solo un par de minutos y así podremos darte seguimiento más rápido ⚡"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1059,
                    "y": -457
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "bodyDataStructure": {
                            "label": "My data structure"
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "type": "collection",
                        "label": "Body content",
                        "spec": [
                            {
                                "name": "phone",
                                "type": "number",
                                "label": "Phone",
                                "required": true
                            },
                            {
                                "name": "lead_name",
                                "type": "text",
                                "label": "Lead name"
                            },
                            {
                                "name": "direction",
                                "type": "text",
                                "label": "Direction"
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}